* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: white; 
    color: white;
    padding: 20px;
    text-align: center;
    border: 3px solid grey;
}

header h1 {
    margin-bottom: 10px;
}

nav {
    margin-bottom: 20px;
}

nav a {
    color: blue;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

main {
    width: 80%;
    margin: 0 auto;
}

.bio-section,
.hobby-section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.bio-section img,
.hobby-section img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.bio,
.explanation {
    flex: 1;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

footer {
    background-color: lightblue;
    bottom: 0;
    width: 100%;
    border: 3px solid grey; 
    padding:10px 0;
}

